/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 40rem) {
  html { font-size: 112%; }
}

@media (min-width: 64rem) {
  html { font-size: 120%; }
}

body {
  background-color: #fff;
  color: #555;
}

.container {
  margin: 0 auto;
  max-width: 53rem;
  width: 90%;
}


/* Mobile First Grid
   ========================================================================== */

.column { margin-bottom: 1.5rem; }

@media (min-width: 40rem) {
  .column {
    float: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}


/* Utilities
   ========================================================================== */

.remove-padding { padding-bottom: 0; }
.remove-border { border: none; }

/* Clearfix by Nicolas Gallagher
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Form style hacks */
label {
  font-weight: 600;
  margin-right: 0.5rem;
}

p input[type="radio"] {
  margin-right: 0.5rem;
}

.bookmarklet-button {
  padding: 0.2rem 0.5rem;
  background-color: grey;
  color: white;
  border-radius: 5px;
}

footer {
  margin-bottom: 1rem;
}
